.ist-thumb-img { height: 100px; }

.ist-seq-thmb { height: 25px; }

.ist-tag {
    border: dotted 1px silver;
    border-radius: 3px;
    color: silver;
    display: inline-block;
    font-size: 12px;
    margin: 2px 0;
    padding: 5px;
}

a { color: black; }

a:hover { color: limegreen; }

a .ist-tag:hover{
    border: dotted 1px limegreen;
    color: limegreen;
}

a .ist-tag-queried {
    background-color: limegreen;
    border: solid 1px limegreen;
    color: white;
}

a .ist-tag-queried:hover {
    background-color: white;
    border: dotted 1px limegreen;
    color: limegreen;
}

.ist-file-names { word-break: break-all; }

.ist-page-button,
input[type='submit'] {
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 7px;
}

input { margin: 4px 4px 4px 0; }

.ist-pagination-bar {
    text-align: center;
    width: 100%;
}

.ist-stats-bar {
    font-size: 12px;
    margin: 25px auto;
    text-align: center;
    width: 300px;
}

.ist-properties { margin: 25px auto; }

.ist-cell-60 { width: 60%; }
.ist-cell-40 { width: 40%; }
.ist-review-img { width: 100%; }

.ist-form-suggestions-panel {
    display: none;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    word-break: break-all;
}

.ist-form-suggestions span {
    color: limegreen;
    cursor: pointer;
    margin-right: 18px;
}

.ist-cart-item {
    margin: 0;
    padding: 0;
}

#pageNo {
    text-align: center;
    width: 50px;
}

.ist-mobile-only { display: block; }

.ist-desktop-only {display: none; }

.ist-cart-img-mobile { width: 100%; }

.navbar {
    position: sticky;
    top: 0;
}

.cart-viewer {
    background: black;
}

.login-form {
    background-color: aliceblue;
    border: 1px dotted gray;
    border-radius: 4px;
    height: auto;
    margin: 5% auto;
    padding: 15px;
    text-align: center;
    width: 200px;
}

.login-form input { width: 100%; }


/* desktop only */
@media screen and (min-width: 768px) {
    .ist-thumb-img {
        height: 100px;
        -webkit-transition: height 1s; /* Safari */
        transition: height 1s;
    }

    .ist-thumb-img:hover { height: 400px; }

    .ist-review-img {
        max-height: 450px;
        width: auto;
    }

    .ist-cart-bg-img {
        height: 690px;
        width: 100%;
    }

    .ist-mobile-only { display: none; }

    .ist-desktop-only {display: block; }

    .ist-zoom-ctrl {
        right: 5px;
        height: 25px;
        position: absolute;
        top: 5px;
        width: 178px;
    }

    .ist-zoom-btn,
    .ist-arrow-btn {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        color: white;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        padding: 5px;
        width: 25px;
    }

    .ist-zoom-btn-txt {
        position: relative;
        bottom: 6px;
        left: 2px;
    }

    .ist-arrow-btn-txt {
        position: relative;
        bottom: 4px;
        left: 0;
    }

    .ist-form-suggestions-panel {
        left: 15px;
        position: absolute;
        top: 50px;
    }
}
