.ist-thumb-img { height: 100px; }

.ist-tag {
    border: dotted 1px silver;
    border-radius: 3px;
    color: silver;
    display: inline-block;
    font-size: 12px;
    margin: 2px 0;
    padding: 5px;
}

a { color: black; }

a:hover { color: limegreen; }

a .ist-tag:hover {
    border: dotted 1px limegreen;
    color: limegreen;

}

.ist-file-names { word-break: break-all; }

.ist-page-button,
input[type='submit'] {
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 7px;
}

input { margin: 4px 4px 4px 0; }

.ist-pagination-bar {
    text-align: center;
    width: 100%;
}

.ist-stats-bar {
    font-size: 12px;
    margin: 25px auto;
    text-align: center;
    width: 300px;
}

.ist-properties { margin: 25px auto; }

.ist-cell-60 { width: 60%; }
.ist-cell-40 { width: 40%; }
.ist-review-img { width: 100%; }

.ist-form-suggestions-panel { display: none; }

.ist-cart-item {
    margin: 0;
    padding: 0;
}

#pageNo {
    text-align: center;
    width: 50px;
}


/* desktop only */
@media screen and (min-width: 780px) {
    .ist-thumb-img {
        height: 100px;
        -webkit-transition: height 1s; /* Safari */
        transition: height 1s;
    }

    .ist-thumb-img:hover { height: 400px; }

    .ist-form-suggestions-panel {
        border: 1px dotted limegreen;
        display: none;
        left: 15px;
        opacity: 0.6;
        position: absolute;
        top: 50px;
        width: 190px;
    }

    .ist-form-suggestions {
        cursor: pointer;
        list-style: none;
    }

    .ist-form-suggestions li {
        color: limegreen;
        margin-left: -25px;
        width: 100%;
    }

    .ist-review-img {
        max-height: 450px;
        width: auto;
    }
}
